* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ol, 
ul {
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: 0px;
    margin: 0px;
    font-size: 1em;
    font-weight: normal ;
}
.container {
    width: 1200px;
    margin: 0px auto;
}

.container-fluid {
    width: 100%;
}